<div *ngIf="team && captain">
    <div class="relative bg-gray-300 w-full flex items-center gap-20">
        <img 
            [src]="backgroundToShow" 
            alt="background" 
            *ngIf="backgroundToShow && !isBackgroundLoading" 
            class="team-background-image"
        />
        <div class="absolute flex flex-row items-center left-20 gap-20">
            <img [src]="avatarToShow" alt="avatar" *ngIf="avatarToShow && !isAvatarLoading; else noImage" class="z-10 w-40 h-40">
            <div class="flex flex-col gap-4">
                <p class="text-4xl font-bold">{{ team.teamName }}</p>
                <p class="font-bold">Captain: {{ captain.summonerName }}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="py-6">
            <button
                *ngIf="showManageButtons"
                type="button"
                pButton
                class="p-button-info"
                label="Edit team data"
                (click)="navigateToEditTeam()"
            ></button>
            <button
                *ngIf="showManageButtons"
                type="button"
                pButton
                class="p-button-danger ml-4"
                label="Delete team"
                (click)="deleteTeam()"
            ></button>

        </div>
        <p-tabView [activeIndex]="0">
            <p-tabPanel header="Players">
                <app-team-players-tab 
                    [currentTeam]="team"
                    [captain]="captain"
                    [currentUserAccounts]="currentUserAccounts"
                ></app-team-players-tab>
            </p-tabPanel>
            <p-tabPanel header="Tournaments">
                Tournaments tab
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<ng-template #noImage>
    <div class="border-2 w-40 h-40 border-black"></div>
</ng-template>