<div class="container grid grid-cols-2 gap-12 pr-4">
    <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
    >
        <formly-form
            [form]="form"
            [fields]="fields"
            [model]="currentUser"
        ></formly-form>
        <div>
            <button 
                type="submit"
                pButton
                label="Update data"
                class="self-center"
            ></button>
        </div>
    </form>

    <div class="flex flex-col gap-12">
        <span class="p-field w-full">
            <label>Pick new avatar</label>
            <p-fileUpload
                customUpload="true"
                name="file-upload"
                multiple="false"
                accept="image/*"
                maxFileSize="10000000"
                (uploadHandler)="sendAvatar()"
                (onSelect)="selectAvatar($event)"
                (onRemove)="removeAvatar()"
                (onClear)="removeAvatar()"
            >
            </p-fileUpload>
        </span>
    
        <span class="p-field w-full">
            <label>Pick new background</label>
            <p-fileUpload
                customUpload="true"
                name="file-upload"
                multiple="false"
                accept="image/*"
                maxFileSize="10000000"
                (uploadHandler)="sendBackground()"
                (onSelect)="selectBackgroundImage($event)"
                (onRemove)="removeBackgroundImage()"
                (onClear)="removeBackgroundImage()"
            >
            </p-fileUpload>
        </span>
    </div>
</div>