
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #E8E8E8;
}

.header{
  height: 10%;
}

.header>h1{
  margin: auto;
  text-align: center;
}

.bracket-container{
  display: flex;
  gap: 1rem;
  flex-direction: row;
  min-width: 100%;
  overflow-x: auto;
}

.bracket-level{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  transition: all ease .5s;
}

.bracket-matchup{
  width: 90%;
  min-width: 200px;
  margin: auto;
  max-height: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-between;
  cursor: pointer;
}

.bracket-team{
  width: 100%;
  padding: 4px 0;
  border: 1px solid #ababab;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  transition: all ease .5s;
}

.bracket-name{
  width: 75%;
  font-size: .75em;
  padding: .2em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #2B2B2B;
  text-align: center;
}

.bracket-score{
  font-size: .75em;
  padding: .2em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  color: #2B2B2B;
  text-align: center;
}

.winner>.bracket-name, .winner>.bracket-score{
  font-weight: bold;
  color: rgb(34, 110, 34);
}

.loser>.bracket-name, .loser>.bracket-score{
  font-weight: bold;
  color: rgb(117, 9, 9);
}

.bracket-team:hover{
  background-color: #E8E8E8;
  transition: all ease .5s;
}

.bracket-team:hover>.bracket-name{
  overflow: none;
  text-overflow: clip;
  white-space: normal;
  align-self: center;
  width: 100%;
}

.bracket-team:hover>.bracket-score{
  display: none;
}