<ng-container *ngIf="upperBracketMatches.length; else noData">

<div class="header">
  <h1>Upper bracket</h1>
</div>
<div class="bracket-container" [style.height]="height" name="bracketContainer">
  <ng-container *ngIf="upperBracketMatches">
    <div class="bracket-level" *ngFor="let stage of upperBracketMatches; index as i">
      <p class="text-center font-semibold" *ngIf="stage.length !== 1">
        1 / {{ stage.length }}
      </p>
      <p class="text-center font-semibold" *ngIf="stage.length === 1 && i !== upperBracketMatches.length - 1">
        Upper Bracket Final
      </p>
      <p class="text-center font-semibold" *ngIf="stage.length === 1 && i === upperBracketMatches.length - 1">
        Grand Final
      </p>
      <div class="bracket-matchup" *ngFor="let match of stage">
        <div 
          class="bracket-team" 
          [ngClass]="{
            'winner': match.winner && match.winner === 1, 
            'loser': match.winner && match.winner !== 1
          }"
          (click)="navigateToTeam(match.firstTeam?.teamId)"
        >
          <div class="bracket-name">
            {{ match.firstTeam?.teamName || "TBA" }}
          </div>
          <div class="bracket-score">
            {{ (match.winner && match.winner === 1) ? "1" : "0" }}
          </div>
        </div>
        <div 
          class="bracket-team"
          [ngClass]="{
            'winner': match.winner && match.winner === 2, 
            'loser': match.winner && match.winner !== 2
          }"
          (click)="navigateToTeam(match.secondTeam?.teamId)"
        >
          <div class="bracket-name">
            {{ match.secondTeam?.teamName || "TBA" }}
          </div>
          <div class="bracket-score">
            {{ (match.winner && match.winner === 2) ? "1" : "0" }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="lowerBracketMatches.length > 0">
  <div class="header">
    <h1>Lower bracket</h1>
  </div>
  <div class="bracket-container" [style.height]="height" name="bracketContainer">
    <ng-container *ngIf="lowerBracketMatches">
      <div class="bracket-level" *ngFor="let stage of lowerBracketMatches; let i = index">
        <p class="text-center font-semibold" *ngIf="stage.length !== 1">Losers Round {{ i + 1 }}</p>
        <p class="text-center font-semibold" *ngIf="stage.length === 1 && i !== lowerBracketMatches.length - 1">
          Losers Round {{ i + 1 }}
        </p>
        <p class="text-center font-semibold" *ngIf="stage.length === 1 && i === lowerBracketMatches.length - 1">
          Losers Bracket Final
        </p>
        <div class="bracket-matchup" *ngFor="let match of stage">
          <div class="bracket-team" 
            [ngClass]="{
              'winner': match.winner && match.winner === match.firstTeam?.teamId, 
              'loser': match.winner && match.winner !== match.firstTeam?.teamId
            }"
            (click)="navigateToTeam(match.firstTeam?.teamId)"
          >
            <div class="bracket-name">
              {{ match.firstTeam?.teamName || "TBA" }}
            </div>
            <div class="bracket-score">
              {{ (match.winner && match.winner === match.firstTeam?.teamId) ? "1" : "0" }}
            </div>
          </div>
          <div class="bracket-team"
            [ngClass]="{
              'winner': match.winner && match.winner === match.secondTeam?.teamId, 
              'loser': match.winner && match.winner !== match.secondTeam?.teamId
            }"
            (click)="navigateToTeam(match.secondTeam?.teamId)"
          >
            <div class="bracket-name">
              {{ match.secondTeam?.teamName || "TBA" }}
            </div>
            <div class="bracket-score">
              {{ (match.winner && match.winner === match.secondTeam?.teamId) ? "1" : "0" }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

</ng-container>

<ng-template #noData>
  <app-no-data></app-no-data>
</ng-template>