<ng-container *ngIf="match">
    <div class="container pt-8">

        <button 
            label="Send match results"
            class="p-button-info mt-4"
            type="button" 
            pButton 
            [routerLink]="['/matches', match.matchId, 'resolve']"
            *ngIf="showResolveButton && match.status !== 'finished'"
        ></button>

        <button 
            label="Change match date"
            class="p-button-info mt-4"
            type="button" 
            pButton
            (click)="showModal(match)"
            *ngIf="showChangeDateButton && (match.status === 'scheduled')"
        ></button>
        <div class="grid grid-cols-3 gap-4">
                <div>
                    <p 
                        class="text-3xl pt-6"
                        [ngClass]="{
                            'winner': secondTeamMatchesCount < firstTeamMatchesCount,
                            'loser': secondTeamMatchesCount > firstTeamMatchesCount
                        }"
                    >{{ match.firstRoster?.team?.teamName || "TBA" }}</p>
                    <ng-container *ngIf="match.firstRoster">
                        <div 
                            class="py-4 player-link" 
                            *ngFor="let player of match.firstRoster.roster"
                        >
                            <p (click)="navigateToProfile(player)">
                                {{ player.username || "n/a" }}
                            </p>
                        </div>

                    </ng-container>
                </div>
                <div class="flex flex-col w-full items-center">
                    <p>
                        {{ (match.matchStartDate | date:"dd/MM/yyyy HH:mm") || "-" }}
                    </p>
            
                    <div class="flex flex-col gap-4 items-center">
                        <p class="text-2xl pb-12">
                            vs.
                        </p>
                      
                        <p><strong>Match status: </strong>{{ match.status || "-" }}</p>
                        <p class="custom-font-size">{{firstTeamMatchesCount}}:{{secondTeamMatchesCount}}</p>
                    </div>
                </div>
                <div>
                    <p class="text-3xl pt-6"
                        [ngClass]="{
                            'winner': secondTeamMatchesCount > firstTeamMatchesCount,
                            'loser': secondTeamMatchesCount < firstTeamMatchesCount
                        }"
                    >{{ match.secondRoster?.team?.teamName || "TBA" }}</p>
                    <ng-container *ngIf="match.secondRoster">
                        <div class="py-4 player-link" *ngFor="let player of match.secondRoster.roster">
                            <p (click)="navigateToProfile(player)">
                                {{ player.username || "n/a" }}
                            </p>
                        </div>
                    </ng-container>
                </div>
        </div>
        
        <div *ngIf="match">
            <p class="text-2xl py-12">Maps</p>
            <div *ngIf="match.maps.length > 0; else noMatches">
                <p-tabView (onChange)="onTabChange()" [activeIndex]="0">
                    <p-tabPanel [header]="'Map ' + (i + 1)" *ngFor="let map of match.maps; index as i">
                        <p><strong>Play time: </strong>{{ map.time }}</p>
                        <div class="grid grid-cols-2">
                            <div class="mb-4 border-r-2 border-gray-200">
                                <p class="p-4 border-b-2 border-gray-200">
                                    {{ map.mapWinner === match.firstRoster?.team?.teamId ? "Winners" : "Losers" }}
                                </p>
                                <ng-container *ngFor="let player of match.firstRoster.roster">
                                    <div 
                                    *ngIf="player.performances && player.performances.length > 0" class="flex flex-row flex-wrap gap-4 py-4 border-b-2 border-gray-200 match">
                                        <p class="flex-item font-semibold">
                                            {{ player.username || "n/a" }}
                                        </p>
                                        <p class="flex-item">
                                            <strong>Score: </strong>
                                            {{ player?.performances[i]?.kills || 0 }}/{{ player?.performances[i]?.deaths || 0 }}/{{ player?.performances[i]?.assists || 0 }}
                                        </p>
                                        
                                        <p class="flex-item">
                                            <strong>K/D/A ratio: </strong>
                                            {{ (((player?.performances[i]?.kills || 0) + (player?.performances[i]?.assists || 0)) / (player?.performances[i]?.deaths || 1)).toFixed(1) }}
                                        </p>
                                        <p class="flex-item"></p>
    
                                        <p class="flex-item">
                                            <strong>Minions: </strong>
                                            {{ player?.performances[i]?.creepScore || "n/a" }}
                                        </p>
    
                                        <p class="flex-item">
                                            <strong>Gold: </strong>
                                            {{ player?.performances[i]?.gold || "n/a" }}
                                        </p>
                                    </div>
                                </ng-container>
                            </div>

                            <div class="mb-4">
                                <p class="p-4 border-b-2 border-gray-200">{{ map.mapWinner === match.secondRoster?.team?.teamId ? "Winners" : "Losers" }}</p>
                                <ng-container *ngFor="let player of match.secondRoster.roster">
                                    <div
                                        *ngIf="player.performances && player.performances.length > 0" 
                                        class="flex flex-row flex-wrap gap-4 p-4 border-b-2 border-gray-200 match">
                                        <p class="flex-item font-semibold">
                                            {{ player.username || "n/a" }}
                                        </p>
                                        <p class="flex-item">
                                            <strong>Score: </strong>
                                            {{ player?.performances[i]?.kills || 0 }}/{{ player?.performances[i]?.deaths || 0 }}/{{ player?.performances[i]?.assists || 0 }}
                                        </p>
                                        
                                        <p class="flex-item">
                                            <strong>K/D/A ratio: </strong>
                                            {{ (((player?.performances[i]?.kills || 0) + (player?.performances[i]?.assists || 0)) / (player?.performances[i]?.deaths || 1)).toFixed(1) }}
                                        </p>
                                        <p class="flex-item"></p>
    
                                        <p class="flex-item">
                                            <strong>Minions: </strong>
                                            {{ player?.performances[i]?.creepScore || "n/a" }}
                                        </p>
    
                                        <p class="flex-item">
                                            <strong>Gold: </strong>
                                            {{ player?.performances[i]?.gold || "n/a" }}
                                        </p>
                                    </div>
                                </ng-container>
                            </div>

                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #noMatches>
    <p class="text-2xl">No maps played</p>
</ng-template>