<div class="container pt-8" *ngIf="currentUser">
    <h1>Hello, {{ currentUser.username }}</h1>

    <div class="grid grid-cols-2 w-full gap-4"></div>

    
    <p-accordion>
        <p-accordionTab header="Tournaments">
            <div class="grid grid-cols-2 w-full gap-4">
                <app-module-card [moduleData]="modulesData.userTournaments"></app-module-card>
                <app-module-card [moduleData]="modulesData.manageTournaments"></app-module-card>
                <app-module-card [moduleData]="modulesData.createTournament"></app-module-card>
                <app-module-card [moduleData]="modulesData.resolveMatches"></app-module-card>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Profile / Accounts">
            <div class="grid grid-cols-2 w-full gap-4">
                <app-module-card [moduleData]="modulesData.playerAccounts"></app-module-card>
                <app-module-card [moduleData]="modulesData.userProfile"></app-module-card>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Teams">
            <div class="grid grid-cols-2 w-full gap-4">
                <app-module-card [moduleData]="modulesData.userTeams"></app-module-card>
                <app-module-card [moduleData]="modulesData.createTeam"></app-module-card>
                <app-module-card [moduleData]="modulesData.userInvitations"></app-module-card>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Misc.">
            <div class="grid grid-cols-2 w-full gap-4">
                <app-module-card [moduleData]="modulesData.userSuspensions"></app-module-card>
                <app-module-card [moduleData]="modulesData.userPerformance"></app-module-card>
                <app-module-card [moduleData]="modulesData.userMatches"></app-module-card>
            </div>
        </p-accordionTab>
        <p-accordionTab
            *appRequiredRole="'admin'" 
            header="Administration">
            <div class="grid grid-cols-2 w-full gap-4">
                <app-module-card [moduleData]="modulesData.manageReports"></app-module-card>
                <app-module-card [moduleData]="modulesData.manageSuspensions"></app-module-card>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>
