<div class="container">
    <div class="edit-team">
        <span class="edit-team-icon">
            <fa-icon
                [icon]="faUserFriends"
                size="5x"
            ></fa-icon>
        </span>

        <p class="edit-team-label">Edit team</p>

        <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()" 
            class="edit-team-form"
        >
            <formly-form
                [form]="form"
                [fields]="fields"
                [model]="model"
            ></formly-form>
            <span class="p-field w-full mt-6">
                <label>Profile avatar</label>
                <p-fileUpload
                    name="file-upload"
                    multiple="false"
                    accept="image/*"
                    maxFileSize="10000000"
                    [showUploadButton]="false"
                    (onSelect)="selectAvatar($event)"
                    (onRemove)="removeAvatar()"
                    (onClear)="removeAvatar()"
                >
                </p-fileUpload>
            </span>
    
            <span class="p-field w-full mt-6">
                <label>Profile background</label>
                <p-fileUpload
                    name="file-upload"
                    multiple="false"
                    accept="image/*"
                    maxFileSize="10000000"
                    [showUploadButton]="false"
                    (onSelect)="selectBackgroundImage($event)"
                    (onRemove)="removeBackgroundImage()"
                    (onClear)="removeBackgroundImage()"
                >
                </p-fileUpload>
            </span>
            <div class="edit-team-buttons">
                <button
                    type="submit"
                    pButton
                    label="Save changes"
                ></button>
            </div>
        </form>
    </div>
</div>