
<div class="container">
    <div class="log-in">
        <span class="log-in-icon">
            <fa-icon 
                [icon]="faGamepad"
                size="5x"   
            ></fa-icon>
        </span>

        <p class="log-in-label">Log In</p>
    
        <form 
            [formGroup]="form" 
            (ngSubmit)="onSubmit()"
            class="log-in-form"
        >
            <formly-form
                [form]="form"
                [fields]="fields"
                [model]="model" 
            >
            </formly-form>
            <span class="log-in-forgot-password">Forgot password?</span>
            <button 
                type="submit"
                pButton
                label="Submit"
            ></button>
        </form>
    </div>
</div>