<div *ngIf="tournament">
    <div class="bg-gray-300 w-full h-96 p-8 flex items-center gap-20">
        <div class="border-2 w-40 h-40 border-black"></div>
        <div class="flex flex-col gap-4">
            <p class="text-4xl font-bold">{{ tournament.name }}</p>
            {{ (tournament.tournamentStartDate | date:"dd/MM/yyyy") || "n/a" }} - {{ (tournament.tournamentEndDate | date:"dd/MM/yyyy") || "n/a" }}
            <p><strong>Checked in: </strong> {{ checkedIn || "n/a" }}</p>
            <p><strong>Signed in: </strong> {{ tournamentTeams.length || "n/a" }}</p>
        </div>
    </div>

    <div class="container pt-12">
        <button
            pButton
            label="Register for this tournament"
            type="button"
            class="p-button-info mb-4"
            [routerLink]="['/tournaments', tournamentId,'register-for-tournament']"
            *ngIf="isRegistrationActive"
        ></button>
        
        <button
            pButton 
            label="Check in"
            type="button" 
            class="p-button-info mb-4 ml-4"
            appIsUserCaptain
            [tournament]="tournament"
            [tournamentTeams]="tournamentTeams"
            (click)="sendCheckInRequest()"
        ></button>
        <p-tabView [activeIndex]="0">
            <p-tabPanel header="Details">
                <app-tournament-details-tab></app-tournament-details-tab>
            </p-tabPanel>
    
            <p-tabPanel header="Competitors">
                <app-tournament-competitors-tab></app-tournament-competitors-tab>
            </p-tabPanel>

            <p-tabPanel header="Matches">
                <app-tournament-matches-tab></app-tournament-matches-tab>
            </p-tabPanel>
    
            <p-tabPanel header="Ladder" *ngIf="tournament && tournament.format.includes('Ladder')">
                <app-tournament-ladder></app-tournament-ladder>
            </p-tabPanel>

            <p-tabPanel header="Groups" *ngIf="tournament && tournament.format.includes('Robin')">
                <app-tournament-ladder></app-tournament-ladder>
            </p-tabPanel>

            <p-tabPanel header="Administrators">
                <app-tournament-administrators-tab></app-tournament-administrators-tab>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>