<div *ngIf="tournament">
    <div class="bg-gray-300 w-full h-96 p-8 flex items-center gap-20">
        <div class="border-2 w-40 h-40 border-black"></div>
        <div class="flex flex-col gap-4">
            <p class="text-4xl font-bold">{{ tournament.name }}</p>
            {{ (tournament.tournamentStartDate | date:"dd/MM/yyyy") || "n/a" }} - {{ (tournament.tournamentEndDate | date:"dd/MM/yyyy") || "n/a" }}
        </div>
    </div>

    <div class="container pt-12">
        <p-tabView [activeIndex]="1">
            <p-tabPanel header="Details">
                details panel
            </p-tabPanel>
    
            <p-tabPanel header="Competitors">
                Competitors panel
            </p-tabPanel>
    
            <p-tabPanel header="Ladder">
                Ladder panel
            </p-tabPanel>
        </p-tabView>
    </div>
</div>