<div class="relative bg-gray-300 w-full flex items-center gap-20" *ngIf="currentUser">
    <img 
        [src]="backgroundToShow" 
        alt="background" 
        *ngIf="backgroundToShow && !isBackgroundLoading" 
        class="profile-background-image"
    />
    <div class="absolute flex flex-row items-center left-20 gap-20">
        <img [src]="avatarToShow" alt="avatar" *ngIf="avatarToShow && !isAvatarLoading; else noImage" class="z-10 w-40 h-40">
        <p class="text-4xl font-bold z-10">{{ currentUser.username }}</p>
    </div>
</div>

<div class="container pt-12 flex flex-col" *ngIf="currentUser">
    <button
        class="p-button-danger max-w-max self-end" 
        pButton 
        label="Report player"
        *ngIf="currentlyLoggedUser.userId !== currentUserId"
        (click)="showModal()"
    ></button>
    <p-tabView (onChange)="onTabChange()" [activeIndex]="activeTab">
        <p-tabPanel header="Details">
            <div class="flex">
                <router-outlet
                    (activate)="readRouterOutlet('profileDetails', $event)" 
                    name="profileDetails"
                ></router-outlet>
                <div class="flex-grow"></div>
                <div *ngIf="currentUserId === currentlyLoggedUser.userId">
                    <ng-container *ngIf="routerEditModes.profileDetails; else profileDetailsEdit">
                        <button 
                            class="p-button-primary" 
                            pButton 
                            label="Back"
                            [routerLink]="['./']"
                            (click)="routerEditModes.profileDetails = !routerEditModes.profileDetails"
                        ></button>
                    </ng-container>
                    <ng-template #profileDetailsEdit>
                        <button 
                            class="p-button-primary" 
                            pButton 
                            label="Edit data"
                            [routerLink]="[{ outlets: { profileDetails: ['edit'] } }]"
                            (click)="routerEditModes.profileDetails = !routerEditModes.profileDetails"
                        ></button>
                    </ng-template>
                </div>
            </div>
        </p-tabPanel>
        
        <p-tabPanel header="Tournaments">
            <app-profile-tournaments
                [currentUser]="currentUser" 
                [currentlyLoggedUser]="currentlyLoggedUser" 
            ></app-profile-tournaments>
        </p-tabPanel>
        
        <p-tabPanel header="Suspensions">
            <app-profile-suspensions
                [currentUser]="currentUser"
            ></app-profile-suspensions>
        </p-tabPanel>
        
        <!-- <p-tabPanel header="Performance">
            <app-profile-performance
                [currentUser]="currentUser"
            ></app-profile-performance>
        </p-tabPanel> -->

        <p-tabPanel header="Teams">
            <app-profile-teams
                [currentUser]="currentUser"
            ></app-profile-teams>
        </p-tabPanel>

        <p-tabPanel header="Accounts">
            <app-profile-accounts
                [currentUser]="currentUser"
            ></app-profile-accounts>
        </p-tabPanel>

        <p-tabPanel header="Matches">
            <app-profile-matches [currentUser]="currentUser"></app-profile-matches>
        </p-tabPanel>
    </p-tabView>
</div>

<ng-template #noImage>
    <div class="border-2 w-40 h-40 border-black"></div>
</ng-template>