<div class="bg-gray-300 w-full h-96 p-8 flex items-center gap-20" *ngIf="currentUser">
    <div class="border-2 w-40 h-40 border-black"></div>
    <p class="text-4xl font-bold">{{ currentUser.username }}</p>
</div>

<div class="container pt-12" *ngIf="currentUser">
    <p-tabView [activeIndex]="activeTab">
        <p-tabPanel header="Details">
            <div class="flex">
                <router-outlet
                    (activate)="readRouterOutlet('profileDetails', $event)" 
                    name="profileDetails"
                ></router-outlet>
                <div class="flex-grow"></div>
                <div>
                    <ng-container *ngIf="routerEditModes.profileDetails; else profileDetailsEdit">
                        <button 
                            class="p-button-primary" 
                            pButton 
                            label="Back"
                            [routerLink]="['./']"
                            (click)="routerEditModes.profileDetails = !routerEditModes.profileDetails"
                        ></button>
                    </ng-container>
                    <ng-template #profileDetailsEdit>
                        <button 
                            class="p-button-primary" 
                            pButton 
                            label="Edit data"
                            [routerLink]="[{ outlets: { profileDetails: ['edit'] } }]"
                            (click)="routerEditModes.profileDetails = !routerEditModes.profileDetails"
                        ></button>
                    </ng-template>
                </div>
            </div>
        </p-tabPanel>
        
        <p-tabPanel header="Tournaments">
            <app-profile-tournaments></app-profile-tournaments>
        </p-tabPanel>
        
        <p-tabPanel header="Suspensions">
            <app-profile-suspensions></app-profile-suspensions>
        </p-tabPanel>
        
        <p-tabPanel header="Performance">
            <app-profile-performance></app-profile-performance>
        </p-tabPanel>

        <p-tabPanel header="Teams">
            <app-profile-teams></app-profile-teams>
        </p-tabPanel>
    </p-tabView>
</div>