<div class="container" *ngIf="pendingInvitations && pendingInvitations.length > 0; else noData">
    <p
        [routerLink]="['/user-dashboard']"
        class="hover:underline font-bold cursor-pointer pb-4"
    >
        Back to user dashboard
    </p>

    <p-table
        [value]="pendingInvitations"
        [paginator]="true"
        [rows]="2"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="{first}-{last} of {totalRecords}"
        [rowPerPageOptions]="[2,5,10]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Team name</th>
                <th>Account name</th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invitation>
            <tr>
                <td>{{ invitation.teamName || '-' }}</td>
                <td>{{ invitation.playerId.summonerName || '-' }}</td>
                <td *ngIf="invitation.status === 'pending'; else invitationAccepted">
                    <button
                        pButton
                        class="p-button-danger mr-4"
                        type="button"
                        (click)="acceptInvitation(invitation, 'refused')"
                        label="Refuse"
                    >
                    </button>
                    <button
                        pButton
                        class="p-button-info"
                        type="button"
                        (click)="acceptInvitation(invitation, 'accepted')"
                        label="Accept"
                    >
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<ng-template #noData>
    <div class="container flex flex-col items-center">
        <p
            [routerLink]="['/user-dashboard']"
            class="self-start hover:underline font-bold cursor-pointer pb-4"
        >
            Back to user dashboard
        </p>
        <app-no-data></app-no-data>
        <p>You have no pending invitations</p>
    </div>
</ng-template>

<ng-template #invitationAccepted>
    <td>Replied!</td>
</ng-template>