<div class="container" *ngIf="isVisible">
    <button
        type="button"
        pButton
        class="p-button-info mb-4"
        label="Add administrator"
        *ngIf="currentUser && currentUser.userId === currentTournament.organizerId"
        (click)="navigateToAddAdmin()"
    ></button>
    <div *ngIf="administratorsList.length > 0; else noData">
        <p-table 
            [value]="administratorsList"
            [paginator]="true"
            [rows]="2"
            [showCurrentPageReport]="true"
            responsiveLayout="scroll"
            currentPageReportTemplate="{first}-{last} of {totalRecords}"
            [rowsPerPageOptions]="[2,3,5]"
        >
        <ng-template pTemplate="header">
            <tr>
                <th>Admin username</th>
                <th>Admin e-mail address</th>
                <th *ngIf="currentUser && currentUser.userId === currentTournament.organizerId"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-admin>
            <tr>
                <td>{{ admin.username || "-" }}</td>
                <td>{{ admin.email || "-" }}</td>
                <td *ngIf="currentUser && currentUser.userId === currentTournament.organizerId">
                    <button
                        type="button"
                        pButton
                        class="p-button-danger"
                        label="Remove administrator"
                        (click)="showModal(admin)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>

<ng-template #progressSpinner>
    <p-progressSpinner></p-progressSpinner>
</ng-template>

<ng-template #noData>
    <app-no-data></app-no-data>
</ng-template>