<div class="container" *ngIf="!isLoading && isVisible; else loadingSpinner">
    <div class="flex flex-row gap-4 pb-4">
        <p-dropdown
            [options]="rolesOptions" 
            optionLabel="label" 
            optionValue="role"
            [(ngModel)]="searchParams.role"
            (onChange)="loadUserTournaments()"
        ></p-dropdown>
        <p-dropdown
            [(ngModel)]="searchParams.status"
            [options]="statusOptions" 
            optionLabel="label" 
            optionValue="status"
            (onChange)="loadUserTournaments()"
        ></p-dropdown>
    </div>
    
    <div *ngIf="userTournaments.length > 0; else noData">
        <p-table
            [value]="userTournaments"
            [paginator]="true"
            [rows]="2"
            [showCurrentPageReport]="true"
            responsiveLayout="scroll"
            currentPageReportTemplate="{first}-{last} of {totalRecords}"
            [rowsPerPageOptions]="[2,5,10]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th></th>
                </tr>
            </ng-template>
    
            <ng-template pTemplate="body" let-organizedTournament>
                <tr>
                    <td>{{ organizedTournament.name || "-" }}</td>
                    <td>{{ (organizedTournament.tournamentStartDate | date:"dd/MM/yyyy hh:mm") || "-" }}</td>
                    <td>{{ (organizedTournament.tournamentEndDate | date:"dd/MM/yyyy hh:mm") || "-" }}</td>
                    <td>
                        <button 
                            pButton 
                            label="See details"
                            type="button" 
                            class="p-button-info"
                            [routerLink]="['/tournaments', organizedTournament.tournamentId]"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="container flex items-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>

<ng-template #noData>
    <div class="container flex flex-col items-center">
        <app-no-data></app-no-data>
        <p>You are not a part of any tournament</p>
    </div>
</ng-template>