
<div class="container">
    <app-lottie-header
        [lottiePath]="lottiePath"
        [headerTexts]="headerTexts" 
    ></app-lottie-header>
    
    <p-table 
        [value]="tournaments"
        [paginator]="true"
        [rows]="2"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="{first}-{last} of {totalRecords}"
        [rowsPerPageOptions]="[2,3,5]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Image</th>
                <th>Tournament</th>
                <th>See more</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tournament>
            <tr>
                <td>image</td>
                <td>{{ tournament.title }} {{ tournament.description }}</td>
                <td>{{ tournament.buttonLabel }}</td>
            </tr>
        </ng-template>
    </p-table>

</div>