
<div class="container">
    <app-lottie-header
        [lottiePath]="lottiePath"
        [headerTexts]="headerTexts" 
    ></app-lottie-header>
    
    <div class="flex flex-row gap-4 pb-4">
        <p-dropdown
            [(ngModel)]="status"
            [options]="statusOptions" 
            optionLabel="label" 
            optionValue="status"
            (onChange)="getTournaments()"
        ></p-dropdown>
    </div>
    
    <p-table 
        [value]="tournaments"
        [paginator]="true"
        [showCurrentPageReport]="true"
        rows="10"
        responsiveLayout="scroll"
        currentPageReportTemplate="{first}-{last} of {totalRecords}"
        [rowsPerPageOptions]="[10,15,20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Registration Start Date</th>
                <th>Registration End Date</th>
                <th>Tournament Start Date</th>
                <th>Registered teams</th>
                <th>See details</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tournament>
            <tr>
                <td>{{ tournament.name || "-" }}</td>
                <td>{{ (tournament.registerStartDate | date:"dd/MM/yyyy HH:mm") || "-" }}</td>
                <td>{{ (tournament.registerEndDate | date:"dd/MM/yyyy HH:mm") || "-" }}</td>
                <td>{{ (tournament.tournamentStartDate | date:"dd/MM/yyyy HH:mm") || "-" }}</td>
                <td>{{ (tournament.checkedIn) || "0" }} / {{ tournament.numberOfTeams || "-" }}</td>
                <td>
                    <button 
                        pButton 
                        label="See details"
                        type="button" 
                        class="p-button-info"
                        [routerLink]="['/tournaments/' + tournament.tournamentId]"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>