<nav>
    <p class="cursor-pointer" [routerLink]="['/']">LOGO</p>
    <div class="menu">
        <span class="menu-item">
            <fa-icon [icon]="faTrophy"></fa-icon>
            <p>Tournaments</p>
        </span>
        <span class="menu-item">
            <fa-icon [icon]="faSitemap"></fa-icon>
            <p [routerLink]="['/organization']">Organization</p>
        </span>
        <span class="menu-item">
            <fa-icon [icon]="faGamepad"></fa-icon>
            <p [routerLink]="['/participation']">Participation</p>
        </span>
        <span class="menu-item">
            <fa-icon [icon]="faAt"></fa-icon>
            <p>Contact us</p>
        </span>
    </div>
    <button 
        pButton 
        pRipple 
        type="button" 
        label="Log in" 
        class="p-button-outlined"
    ></button>
</nav>
