<footer>
    <div class="footer-upper-section">
        <p>LOGO</p>
        <div class="footer-upper-section-navigation">
            <p>Tournaments</p>
            <p>Organization</p>
            <p>Participation</p>
            <p>Contact us</p>
        </div>
    </div>
    <div class="footer-lower-section">
        <p class="footer-lower-section-title">Tournaments for the players</p>
        <div class="footer-lower-section-links">
            <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
            <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
            <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
            <fa-icon [icon]="faTwitch" size="2x"></fa-icon>
            <fa-icon [icon]="faYoutube" size="2x"></fa-icon>
        </div>
    </div>
</footer>
