.module-card {
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &:hover {
        text-decoration: underline;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 500;
    }

    &__subtitle {
        font-size: 0.75rem;
    }

}