<div class="container" *ngIf="!isLoading; else loadingSpinner">
    <div *ngIf="userAccounts.length > 0; else noData">
        <p-table
            [value]="userAccounts"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            responsiveLayout="scroll"
            currentPageReportTemplate="{first}-{last} of {totalRecords}"
            [rowsPerPageOptions]="[5,10,20]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Region</th>
                </tr>
            </ng-template>
    
            <ng-template pTemplate="body" let-account>
                <tr>
                    <td>
                        <div class="flex gap-4">
                            <p>
                                {{ account.summonerName || "-" }}
                            </p>
                        </div>
                    </td>
                    <td>{{ account.region || "-" }}</td>
                </tr>
            </ng-template>
        </p-table>
        <button
            *ngIf="currentlyLoggedUser && currentlyLoggedUser.userId === currentProfileId"
            pButton
            label="Create another one!"
            type="button"
            class="p-button-info mt-4"
            [routerLink]="['/create-team']"
        ></button>
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="container flex items-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>

<ng-template #noData>
    <div class="container flex flex-col items-center">
        <app-no-data></app-no-data>
        <p>No accounts found</p>
        <button
            pButton
            label="Create one!"
            type="button"
            class="p-button-info"
            [routerLink]="['/create-team']"
            *ngIf="currentlyLoggedUser && currentlyLoggedUser.userId === currentProfileId"
        ></button>
    </div>
</ng-template>