<div class="container">
    <div class="edit-tournament">
        <span class="edit-tournament-icon">
            <fa-icon
                [icon]="faTrophy"
                size="5x" 
            ></fa-icon>
        </span>

        <p class="edit-tournament-label">Edit tournament</p>

        <form 
            [formGroup]="form" 
            (ngSubmit)="onSubmit()" 
            class="edit-tournament-form"
        >
            <span class="p-float-label w-full">
                <input
                    formControlName="name"
                    id="name"
                    type="text" 
                    pInputText 
                    [required]="true"
                />
                <label for="name">Name your tournament <abbr>*</abbr></label>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.name.dirty && form.controls.name.invalid"
            >
                Value required
            </small>

            <div class="p-field w-full">
                <label for="registerStartDate">Register start date <abbr>*</abbr></label>
                <p-calendar
                    formControlName="registerStartDate"
                    [showIcon]="true" 
                    inputId="registerStartDate" 
                    placeholder="Enter register start date" 
                    [required]="true"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    hourFormat="24"
                    [minDate]="nowDate"
                    [disabled]="isAfter(nowDate, form.value.registerStartDate)"
                ></p-calendar>
            </div>

            <div class="p-field w-full">
                <label for="registerEndDate">Register end date <abbr>*</abbr></label>
                <p-calendar
                    formControlName="registerEndDate"
                    [showIcon]="true" 
                    inputId="registerEndDate" 
                    placeholder="Enter register end date" 
                    [required]="true"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    hourFormat="24"
                    [minDate]="form.value.registerStartDate"
                    [disabled]="isAfter(nowDate, form.value.registerEndDate)"
                ></p-calendar>
                {{isAfter(nowDate, form.value.registerEndDate)}}
                {{ nowDate }}
                {{ form.value.registerEndDate}}
            </div>

            <div class="p-field w-full">
                <label for="tournamentStartDate">Tournament start date <abbr>*</abbr></label>
                <p-calendar
                    formControlName="tournamentStartDate"
                    [showIcon]="true" 
                    inputId="tournamentStartDate" 
                    placeholder="Enter tournament start date" 
                    [required]="true"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    hourFormat="24"
                    [minDate]="form.value.registerEndDate"
                    [disabled]="isAfter(nowDate, form.value.tournamentStartDate)"
                ></p-calendar>
            </div>

            <div class="p-field w-full">
                <label for="endingHour">Enter matches ending hour<abbr>*</abbr></label>
                <p-calendar
                    formControlName="endingHour"
                    inputId="endingHour" 
                    placeholder="Enter ending hour" 
                    [required]="true"
                    showTime="true"
                    hourFormat="24"
                    [timeOnly]="true"
                ></p-calendar>
            </div>

            <span class="p-field w-full">
                <label for="format">Select games format <abbr>*</abbr></label>
                <p-dropdown
                    inputId="format"
                    [options]="gamePresets"
                    formControlName="format"
                    [placeholder]="'Select games format'"
                    [optionLabel]="'name'"
                    [optionValue]="'name'"
                    [showClear]="true"
                    (onChange)="clearNumbers()"
                ></p-dropdown>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.format.dirty && form.controls.format.invalid"
            >
                Value required
            </small>

            <span 
                class="p-field w-full flex flex-col"
                *ngIf="form.controls.format.value === 'Single Round Robin' || form.controls.format.value === 'Double Round Robin'"
            >
                <label for="numberOfGroups">Number of groups<abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfGroups" 
                    mode="decimal" 
                    inputId="numberOfGroups" 
                    [useGrouping]="false"
                    (ngModelChange)="onChange()"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfGroups.dirty && form.controls.numberOfGroups.invalid"
            >
                {{ form.controls.numberOfGroups?.errors['numberOfGroups'] ? 'Number of teams divided by number of groups must give no rest': 'Value required' }}
            </small>

            <span 
                class="p-field w-full flex flex-col"
                *ngIf="form.controls.format.value === 'Single Round Robin' || form.controls.format.value === 'Double Round Robin'"
            >
                <label for="numberOfTeams">Number of teams<abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfTeams" 
                    mode="decimal" 
                    inputId="numberOfTeams" 
                    [useGrouping]="false"
                    (ngModelChange)="onChange()"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfTeams.dirty && form.controls.numberOfTeams.invalid && (form.controls.format.value === 'Single Round Robin' || form.controls.format.value === 'Double Round Robin')"
            >
                Value required
            </small>
            <span 
                class="p-field w-full flex flex-col"
                *ngIf="form.controls.format.value === 'Single Elimination Ladder' || form.controls.format.value === 'Double Elimination Ladder'"
            >
                <label for="numberOfTeams">Number of teams<abbr>*</abbr></label>
                <p-dropdown
                    inputId="numberOfTeams"
                    [options]="numberOfTeams"
                    formControlName="numberOfTeams"
                    [placeholder]="'Select number of teams'"
                    [optionLabel]="'value'"
                    [optionValue]="'value'"
                    [showClear]="true"
                ></p-dropdown>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfTeams.dirty && form.controls.numberOfTeams.invalid && (form.controls.format.value === 'Single Elimination Ladder' && form.controls.format.value === 'Double Elimination Ladder')"
            >
                {{ form.controls.numberOfTeams?.errors['numberOfTeams'] ? 'Number of teams divided by number of groups must give no rest': 'Value required' }}
            </small>

            <span class="p-field w-full flex flex-col">
                <label for="numberOfPlayers">Number of players <abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfPlayers" 
                    mode="decimal" 
                    inputId="numberOfPlayers" 
                    [useGrouping]="false"
                    (ngModelChange)="onChange()"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfPlayers.dirty && form.controls.numberOfPlayers.invalid"
            >
                Value required
            </small>

            <span class="p-field w-full flex flex-col">
                <label for="numberOfMaps">Number of maps<abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfMaps" 
                    mode="decimal" 
                    inputId="numberOfMaps" 
                    [useGrouping]="false"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfMaps.dirty && form.controls.numberOfMaps.invalid"
            >
                Value required
            </small>

            <span class="p-field w-full">
                <label for="description">Description <abbr>*</abbr></label>
                <textarea
                    id="description" 
                    pInputTextarea 
                    formControlName="description"
                ></textarea>
            </span>

            <div class="edit-tournament-buttons">
                <button 
                    type="submit"
                    pButton
                    label="Save tournament changes"
                    [disabled]="!form.valid"
                ></button>
            </div>

        </form>

        <form
            [formGroup]="prizeForm"
            class="edit-tournament-form"
        >
            <div class="w-full">
                <span class="p-float-label w-full mt-2">
                    <input
                        formControlName="distribution"
                        id="distribution"
                        type="text" 
                        pInputText 
                        [required]="true"
                    />
                    <label for="name">Prize <abbr>*</abbr></label>
                </span>
            </div>

            <div class="w-full">
                <span class="p-float-label w-full mt-2">
                    <input
                        formControlName="currency"
                        id="currency"
                        type="text" 
                        pInputText 
                        [required]="true"
                    />
                    <label for="currency">Currency <abbr>*</abbr></label>
                </span>
            </div>
            <div class="edit-tournament-buttons">
                <button 
                    type="submit"
                    pButton
                    label="Save prize changes"
                    [disabled]="!prizeForm.valid"
                    (click)="submitPrizeUpdate()"
                ></button>
            </div>
        </form>
        <form class="edit-tournament-form">
            <span class="p-field w-full mt-6">
                <label>Tournament avatar</label>
                <p-fileUpload
                    name="file-upload"
                    multiple="false"
                    accept="image/*"
                    maxFileSize="10000000"
                    [showUploadButton]="true"
                    customUpload="true"
                    (uploadHandler)="sendAvatar()"
                    (onSelect)="selectAvatar($event)"
                    (onRemove)="removeAvatar()"
                    (onClear)="removeAvatar()"
                >
                </p-fileUpload>
            </span>
    
            <span class="p-field w-full mt-6">
                <label>Tournament background</label>
                <p-fileUpload
                    name="file-upload"
                    multiple="false"
                    accept="image/*"
                    maxFileSize="10000000"
                    [showUploadButton]="true"
                    customUpload="true"
                    (uploadHandler)="sendBackground()"
                    (onSelect)="selectBackgroundImage($event)"
                    (onRemove)="removeBackgroundImage()"
                    (onClear)="removeBackgroundImage()"
                >
                </p-fileUpload>
            </span>
        </form>
    </div>
</div>