<div class="container">
    <div class="register">
        <span class="register-icon">
            <fa-icon
                [icon]="faUserCircle"
                size="5x"
            ></fa-icon>
        </span>

        <p class="register-label">Create account</p>
        <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="register-form"
        >
        <span class="p-float-label w-full">
            <input
                formControlName="email"
                id="email"
                type="text" 
                pInputText 
                [required]="true"
            />
            <label for="email">E-mail Address <abbr>*</abbr></label>
        </span>

        <span class="p-float-label w-full mt-6">
            <input
                formControlName="username"
                id="username"
                type="text" 
                pInputText 
                [required]="true"
            />
            <label for="username">Username<abbr>*</abbr></label>
        </span>

        <span class="p-float-label w-full mt-6">
            <p-password
                formControlName="password"
                id="password"
            >
            </p-password>
            <label for="password">Password <abbr>*</abbr></label>
        </span>

        <span class="p-float-label w-full mt-6">
            <p-password
                formControlName="repeatPassword"
                id="repeatPassword"
            >
            </p-password>
            <label for="repeatPassword">Repeat password <abbr>*</abbr></label>
        </span>

        <small class="p-error" *ngIf="form.controls.repeatPassword.touched && form.controls.repeatPassword.value !== form.controls.password.value">
            Passwords not matching
        </small>

        <span class="p-float-label w-full mt-6">
            <input
                formControlName="country"
                id="country"
                type="text" 
                pInputText 
                [required]="true"
            />
            <label for="country">Country <abbr>*</abbr></label>
        </span>

        <span class="p-float-label w-full mt-6">
            <input
                formControlName="university"
                id="university"
                type="text" 
                pInputText
            />
            <label for="university">University</label>
        </span>


        <span class="p-float-label w-full mt-6">
            <input
                formControlName="studentId"
                id="studentId"
                type="text" 
                pInputText
            />
            <label for="studentId">Student ID Number</label>
        </span>

        <span class="p-field w-full mt-6">
            <label>Profile avatar</label>
            <p-fileUpload
                name="file-upload"
                multiple="false"
                accept="image/*"
                maxFileSize="10000000"
                [showUploadButton]="false"
                (onSelect)="selectAvatar($event)"
                (onRemove)="removeAvatar()"
            >
            </p-fileUpload>
        </span>

        <span class="p-field w-full mt-6">
            <label>Profile background</label>
            <p-fileUpload
                name="file-upload"
                multiple="false"
                accept="image/*"
                maxFileSize="10000000"
                [showUploadButton]="false"
                (onSelect)="selectBackgroundImage($event)"
                (onRemove)="removeBackgroundImage()"
                (onClear)="removeBackgroundImage()"
            >
            </p-fileUpload>
        </span>
        <span class="field w-full mt-4">
            <p-checkbox 
                value="form.controls.terms.value"
                formControlName="terms" 
                id="terms" 
                name="terms" 
                label="Accept terms of use"
                [required]="true"
            ></p-checkbox>
        </span>
            <div class="register-buttons">
                <button
                    type="submit"
                    pButton
                    label="Submit"
                    [disabled]="!form.valid"
                ></button>
            </div>
        </form>
    </div>
</div>
<!-- <p-toast position="bottom-right"></p-toast> -->