<div class="container">
    <div class="register">
        <span class="register-icon">
            <fa-icon
                [icon]="faUserCircle"
                size="5x"
            ></fa-icon>
        </span>

        <p class="register-label">Create account</p>
        <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="register-form"
        >
            <formly-form
                [model]="model"
                [form]="form"
                [fields]="fields"
                [options]="formOptions"
            ></formly-form>
            <div class="register-buttons">
                <button
                    type="submit"
                    pButton
                    label="Submit"
                ></button>
            </div>
        </form>
    </div>
</div>
<!-- <p-toast position="bottom-right"></p-toast> -->