<div class="container" *ngIf="currentUser.accounts.length > 0; else noData">
    <p
        [routerLink]="['/user-dashboard']"
        class="hover:underline font-bold cursor-pointer pb-4"
    >
        Back to user dashboard
    </p>
    <p-table
        [value]="currentUser.accounts"
        [paginator]="true"
        [rows]="2"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="{first}-{last} of {totalRecords}"
        [rowPerPageOptions]="[2,5,10]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Region</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-account>
            <tr>
                <td>{{ account.summonerId || "-" }}</td>
                <td>{{ account.region || "-" }}</td>
            </tr>
        </ng-template>
    </p-table>
    <button
        pButton
        label="Add another one!"
        type="button"
        class="p-button-info"
        [routerLink]="['/create-player']"
    ></button>
</div>

<ng-template #noData>
    <div class="container flex flex-col items-center">
        <app-no-data></app-no-data>
        <p>You don't have registered account?</p>
        <button
            pButton
            label="Register one!"
            type="button"
            class="p-button-info"
            [routerLink]="['/create-player']"
        ></button>
    </div>
</ng-template>