<div class="container">
    <div class="create-tournament">
        <span class="create-tournament-icon">
            <fa-icon
                [icon]="faTrophy"
                size="5x" 
            ></fa-icon>
        </span>

        <p class="create-tournament-label">Create tournament</p>

        <form 
            [formGroup]="form" 
            (ngSubmit)="onSubmit()" 
            class="create-tournament-form"
        >
            <span class="p-float-label w-full">
                <input
                    formControlName="tournamentName"
                    id="tournamentName"
                    name="tournamentName"
                    type="text" 
                    pInputText 
                    [required]="true"
                />
                <label for="tournamentName">Name your tournament <abbr>*</abbr></label>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.tournamentName.dirty && form.controls.tournamentName.invalid"
            >
                Value required
            </small>

            <div class="p-field w-full">
                <label for="registerStartDate">Register start date <abbr>*</abbr></label>
                <p-calendar
                    formControlName="registerStartDate"
                    [showIcon]="true" 
                    inputId="registerStartDate" 
                    placeholder="Enter register start date"
                    [required]="true"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    hourFormat="24"
                    [defaultDate]="registerStartMinDate"
                    [minDate]="registerStartMinDate"
                    [todayButtonStyleClass]="'todayButton'"
                ></p-calendar>
            </div>
            <small 
                class="p-error" 
                *ngIf="form.controls.registerStartDate.dirty && form.controls.registerStartDate.invalid"
            >
                Value required
            </small>

            <div class="p-field w-full">
                <label for="registerEndDate">Register end date <abbr>*</abbr></label>
                <p-calendar
                    formControlName="registerEndDate"
                    inputId="registerEndDate" 
                    [showIcon]="true" 
                    placeholder="Enter register end date"
                    [required]="true"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    hourFormat="24"
                    [minDate]="registerEndMinDate"
                    [defaultDate]="registerEndMinDate"
                    [disabled]="!form.value.registerStartDate"
                    [todayButtonStyleClass]="'todayButton'"
                ></p-calendar>
            </div>
            <small 
                class="p-error" 
                *ngIf="form.controls.registerEndDate.dirty && form.controls.registerEndDate.invalid"
            >
                Value required
            </small>

            <div class="p-field w-full">
                <label for="tournamentStartDate">Tournament start date <abbr>*</abbr></label>
                <p-calendar
                    formControlName="tournamentStartDate"
                    inputId="tournamentStartDate" 
                    placeholder="Enter tournament start date"
                    [required]="true"
                    [showIcon]="true" 
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    hourFormat="24"
                    [minDate]="tournamentStartMinDate"
                    [defaultDate]="tournamentStartMinDate"
                    [disabled]="!form.value.registerEndDate"
                    [todayButtonStyleClass]="'todayButton'"
                ></p-calendar>
                
            </div>
            <small 
                class="p-error" 
                *ngIf="form.controls.tournamentStartDate.dirty && form.controls.tournamentStartDate.invalid"
            >
                Value required
            </small>
            <small 
                class="p-error" 
                *ngIf="form.controls.tournamentStartDate.dirty && form.controls.tournamentStartDate.invalid"
            >
                {{ form.controls.tournamentStartDate?.errors['tournamentStartDate'] ? 'Tournament must start at least 40 minutes after registration end': 'Value required' }}
            </small>

            <div class="p-field w-full">
                <label for="endingHour">Enter matches ending hour<abbr>*</abbr></label>
                <p-calendar
                    formControlName="endingHour"
                    inputId="endingHour" 
                    placeholder="Enter ending hour" 
                    [required]="true"
                    showTime="true"
                    hourFormat="24"
                    [timeOnly]="true"
                    [stepMinute]="30"
                ></p-calendar>
            </div>

            <span class="p-field w-full">
                <label for="format">Select games format <abbr>*</abbr></label>
                <p-dropdown
                    inputId="format"
                    [options]="gamePresets"
                    formControlName="format"
                    [placeholder]="'Select games format'"
                    [optionValue]="'name'"
                    [optionLabel]="'name'"
                    [showClear]="true"
                    (onChange)="clearNumbers()"
                >
                    <ng-template let-format pTemplate="item">
                        <div [pTooltip]="format.description" tooltipPosition="top">
                            {{ format.name }}
                        </div>
                    </ng-template>
                </p-dropdown>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.format.dirty && form.controls.format.invalid"
            >
                Value required
            </small>

            <span 
                class="p-field w-full flex flex-col"
                *ngIf="form.controls.format.value === 'Single Round Robin' || form.controls.format.value === 'Double Round Robin'"
            >
                <label for="numberOfGroups">Number of groups<abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfGroups" 
                    mode="decimal" 
                    inputId="numberOfGroups" 
                    [useGrouping]="false"
                    (ngModelChange)="onChange()"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfGroups.dirty && form.controls.numberOfGroups.invalid"
            >
                {{ form.controls.numberOfGroups?.errors['numberOfGroups'] ? 'Number of teams divided by number of groups must give no rest': 'Value required' }}
            </small>

            <span 
                class="p-field w-full flex flex-col"
                *ngIf="form.controls.format.value === 'Single Round Robin' || form.controls.format.value === 'Double Round Robin'"
            >
                <label for="numberOfTeams">Number of teams<abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfTeams" 
                    mode="decimal" 
                    inputId="numberOfTeams" 
                    [useGrouping]="false"
                    (ngModelChange)="onChange()"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfTeams.dirty && form.controls.numberOfTeams.invalid && (form.controls.format.value === 'Single Round Robin' || form.controls.format.value === 'Double Round Robin')"
            >
                Value required
            </small>

            <span 
                class="p-field w-full flex flex-col"
                *ngIf="form.controls.format.value === 'Single Elimination Ladder' || form.controls.format.value === 'Double Elimination Ladder'"
            >
                <label for="numberOfTeams">Number of teams<abbr>*</abbr></label>
                <p-dropdown
                    inputId="numberOfTeams"
                    [options]="numberOfTeams"
                    formControlName="numberOfTeams"
                    [placeholder]="'Select number of teams'"
                    [optionLabel]="'value'"
                    [optionValue]="'value'"
                    [showClear]="true"
                ></p-dropdown>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfTeams.dirty && form.controls.numberOfTeams.invalid && (form.controls.format.value === 'Single Elimination Ladder' && form.controls.format.value === 'Double Elimination Ladder')"
            >
                {{ form.controls.numberOfTeams?.errors['numberOfTeams'] ? 'Number of teams divided by number of groups must give no rest': 'Value required' }}
            </small>

            <span 
                class="p-field w-full flex flex-col"
            >
                <label for="numberOfPlayers">Number of players <abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfPlayers" 
                    mode="decimal" 
                    inputId="numberOfPlayers" 
                    [useGrouping]="false"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfPlayers.dirty && form.controls.numberOfPlayers.invalid"
            >
                Value required
            </small>

            <span class="p-field w-full flex flex-col">
                <label for="numberOfMaps">Number of maps<abbr>*</abbr></label>
                <p-dropdown
                    inputId="numberOfMaps"
                    [options]="form.controls.format.value.includes('Ladder') ? mapsNumbers : groupsMapsNumbers"
                    formControlName="numberOfMaps"
                    [placeholder]="'Select number of maps'"
                    [optionLabel]="'value'"
                    [optionValue]="'value'"
                    [showClear]="true"
                ></p-dropdown>
            </span>

            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfMaps.dirty && form.controls.numberOfMaps.invalid"
            >
                Value required
            </small>

            <div formGroupName="prize" class="w-full">
                <span class="p-float-label w-full mt-2">
                    <input
                        formControlName="distribution"
                        id="distribution"
                        type="text" 
                        pInputText 
                    />
                    <label for="name">Prize</label>
                </span>
            </div>

            <div formGroupName="prize" class="w-full">
                <span class="p-float-label w-full mt-2">
                    <input
                        formControlName="currency"
                        id="currency"
                        type="text" 
                        pInputText 
                    />
                    <label for="currency">Currency</label>
                </span>
            </div>
            

            <span class="p-field w-full">
                <label for="description">Description <abbr>*</abbr></label>
                <textarea
                    id="description" 
                    pInputTextarea 
                    formControlName="description"
                ></textarea>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.description.dirty && form.controls.description.invalid"
            >
                Value required
            </small>

            <span class="p-field w-full mt-6">
                <label>Profile avatar</label>
                <p-fileUpload
                    name="file-upload"
                    multiple="false"
                    accept="image/*"
                    maxFileSize="10000000"
                    [showUploadButton]="false"
                    (onSelect)="selectAvatar($event)"
                    (onRemove)="removeAvatar()"
                >
                </p-fileUpload>
            </span>
    
            <span class="p-field w-full mt-6">
                <label>Profile background</label>
                <p-fileUpload
                    name="file-upload"
                    multiple="false"
                    accept="image/*"
                    maxFileSize="10000000"
                    [showUploadButton]="false"
                    (onSelect)="selectBackgroundImage($event)"
                    (onRemove)="removeBackgroundImage()"
                    (onClear)="removeBackgroundImage()"
                >
                </p-fileUpload>
            </span>

            <div class="create-tournament-buttons">
                <button 
                    type="submit"
                    pButton
                    label="Create tournament"
                    [disabled]="!form.valid"
                ></button>
            </div>
        </form>
    </div>
</div>