<div class="container">
    <div class="create-tournament">
        <span class="create-tournament-icon">
            <fa-icon
                [icon]="faTrophy"
                size="5x" 
            ></fa-icon>
        </span>

        <p class="create-tournament-label">Create tournament</p>

        <form 
            [formGroup]="form" 
            (ngSubmit)="onSubmit()" 
            class="create-tournament-form"
        >
            <span class="p-float-label w-full">
                <input
                    formControlName="name"
                    id="name"
                    type="text" 
                    pInputText 
                    [required]="true"
                />
                <label for="name">Name your tournament <abbr>*</abbr></label>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.name.touched && form.controls.name.invalid"
            >
                Value required
            </small>

            <div class="p-field w-full">
                <label for="registerStartDate">Register start date <abbr>*</abbr></label>
                <p-calendar
                    formControlName="registerStartDate"
                    [showIcon]="true" 
                    inputId="registerStartDate" 
                    placeholder="Enter register start date" 
                    [required]="true"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    hourFormat="24"
                    [minDate]="registerStartMinDate"
                ></p-calendar>
            </div>

            <div class="p-field w-full">
                <label for="registerEndDate">Register end date <abbr>*</abbr></label>
                <p-calendar
                    formControlName="registerEndDate"
                    [showIcon]="true" 
                    inputId="registerEndDate" 
                    placeholder="Enter register end date" 
                    [required]="true"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    hourFormat="24"
                    [minDate]="registerEndMinDate"
                    [disabled]="!form.value.registerStartDate"
                ></p-calendar>
            </div>

            <div class="p-field w-full">
                <label for="tournamentStartDate">Tournament start date <abbr>*</abbr></label>
                <p-calendar
                    formControlName="tournamentStartDate"
                    [showIcon]="true" 
                    inputId="tournamentStartDate" 
                    placeholder="Enter tournament start date" 
                    [required]="true"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    hourFormat="24"
                    [minDate]="tournamentStartMinDate"
                    [disabled]="!form.value.registerEndDate"
                ></p-calendar>
            </div>

            <div class="p-field w-full">
                <label for="endingHour">Enter matches ending hour<abbr>*</abbr></label>
                <p-calendar
                    formControlName="endingHour"
                    [showIcon]="true" 
                    inputId="endingHour" 
                    placeholder="Enter ending hour" 
                    [required]="true"
                    showTime="true"
                    hourFormat="24"
                    [timeOnly]="true"
                ></p-calendar>
            </div>

            <span class="p-field w-full flex flex-col">
                <label for="numberOfTeams">Number of teams <abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfTeams" 
                    mode="decimal" 
                    inputId="numberOfTeams" 
                    [useGrouping]="false"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfTeams.touched && form.controls.numberOfTeams.invalid"
            >
                Value required
            </small>

            <span class="p-field w-full flex flex-col">
                <label for="numberOfPlayers">Number of players <abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfPlayers" 
                    mode="decimal" 
                    inputId="numberOfPlayers" 
                    [useGrouping]="false"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfPlayers.touched && form.controls.numberOfPlayers.invalid"
            >
                Value required
            </small>

            <span class="p-field w-full flex flex-col">
                <label for="numberOfMaps">Number of maps<abbr>*</abbr></label>
                <p-inputNumber
                    formControlName="numberOfMaps" 
                    mode="decimal" 
                    inputId="numberOfMaps" 
                    [useGrouping]="false"
                >
                </p-inputNumber>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.numberOfMaps.touched && form.controls.numberOfMaps.invalid"
            >
                Value required
            </small>

            <span class="p-field w-full">
                <label for="format">Select games preset <abbr>*</abbr></label>
                <p-dropdown
                    inputId="format"
                    [options]="gamePresets"
                    formControlName="format"
                    [placeholder]="'Select games preset'"
                    [optionLabel]="'name'"
                    [optionValue]="'name'"
                    [showClear]="true"
                ></p-dropdown>
            </span>
            <small 
                class="p-error" 
                *ngIf="form.controls.format.touched && form.controls.format.invalid"
            >
                Value required
            </small>

            <div formGroupName="prize" class="w-full">
                <span class="p-float-label w-full mt-2">
                    <input
                        formControlName="distribution"
                        id="distribution"
                        type="text" 
                        pInputText 
                        [required]="true"
                    />
                    <label for="name">Prize <abbr>*</abbr></label>
                </span>
            </div>

            <div formGroupName="prize" class="w-full">
                <span class="p-float-label w-full mt-2">
                    <input
                        formControlName="currency"
                        id="currency"
                        type="text" 
                        pInputText 
                        [required]="true"
                    />
                    <label for="currency">Currency <abbr>*</abbr></label>
                </span>
                
            </div>

            <span class="p-field w-full">
                <label for="description">Description <abbr>*</abbr></label>
                <textarea
                    id="description" 
                    pInputTextarea 
                    formControlName="description"
                ></textarea>
            </span>

            <span class="p-field w-full mt-6">
                <label>Profile avatar</label>
                <p-fileUpload
                    name="file-upload"
                    multiple="false"
                    accept="image/*"
                    maxFileSize="10000000"
                    [showUploadButton]="false"
                    (onSelect)="selectAvatar($event)"
                    (onRemove)="removeAvatar()"
                >
                </p-fileUpload>
            </span>
    
            <span class="p-field w-full mt-6">
                <label>Profile background</label>
                <p-fileUpload
                    name="file-upload"
                    multiple="false"
                    accept="image/*"
                    maxFileSize="10000000"
                    [showUploadButton]="false"
                    (onSelect)="selectBackgroundImage($event)"
                    (onRemove)="removeBackgroundImage()"
                    (onClear)="removeBackgroundImage()"
                >
                </p-fileUpload>
            </span>

            <div class="create-tournament-buttons">
                <button 
                    type="submit"
                    pButton
                    label="Create tournament"
                    [disabled]="!form.valid"
                ></button>
            </div>
        </form>
    </div>
</div>