<ng-container *ngIf="groupStandings && groupStandings.length > 0; else noData">
    <p-tabView (onChange)="onTabChange()" [activeIndex]="0">
        <p-tabPanel *ngFor="let group of groupStandings" [header]="'Group ' + group.name">
            <p-table
            [value]="group.standings"
            [paginator]="false"
            [rows]="group.standings.length"
            [showCurrentPageReport]="true"
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Place</th>
                    <th>Points</th>
                    <th>Team name</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-standing>
                <tr>
                    <td>
                        {{ standing.place }}
                    </td>
                    <td>
                        {{ standing.points }}
                    </td>
                    <td>{{ standing.team.teamName || '-' }}</td>
                    <td>
                        <button 
                            label="See details" 
                            class="p-button-info" 
                            type="button" 
                            pButton 
                            [routerLink]="['/team', standing.team.teamId]"
                        ></button>
                    </td>
                </tr>
    
            </ng-template>
        </p-table>
        </p-tabPanel>
    </p-tabView>
   
</ng-container>

<ng-template #noData>
    <h1 class="text-center pt-4">{{ errorText }}</h1>
</ng-template>