<div class="container" *ngIf="tournament">
    <div class="grid grid-cols-2">
        <div class="flex flex-col gap-4">
            <p class="font-bold text-2xl">
                Details
            </p>
            <p>
                Registration start date: {{ tournament.registerStartDate | date:"dd/MM/yyyy hh:mm" }}
            </p>
            <p>
                Registration end date: {{ tournament.registerEndDate | date:"dd/MM/yyyy hh:mm" }}
            </p>
            <p>
                Tournament start date: {{ tournament.tournamentStartDate | date:"dd/MM/yyyy hh:mm" }}
            </p>
            
            <p>
                Check-in open date: {{ tournament.checkInOpenDate | date:"dd/MM/yyyy hh:mm" }}
            </p>
            
            <p>
                Check-in close date: {{ tournament.checkInCloseDate | date:"dd/MM/yyyy hh:mm" }}
            </p>
            <p>
                Ending hour: {{ (endingHour | date:"hh:mm") || "-" }}
            </p>
            <p>
                Number of players: {{ tournament.numberOfPlayers }}
            </p>
            <p>
                Number of teams: {{ tournament.numberOfTeams }}
            </p>

            <p>
                Format: {{ tournament.format }}
            </p>
            <div *ngIf="tournament.prize" class="flex flex-col gap-4">
                <p class="font-bold text-2xl">
                    Prize
                </p>
                <p>
                    Amount: {{ tournament.prize.distribution }}
                </p>
                <p>
                    Currency: {{ tournament.prize.currency }}
                </p>
            </div>
        </div>
        <div>
            <p class="font-bold text-2xl pb-4">Description</p>
            {{ tournament.description }}
        </div>
    </div>
</div>