<button
    *ngIf="!currentUser; else currentUserSection"
    pButton 
    pRipple 
    type="button" 
    label="Log in" 
    class="p-button-outlined"
    [routerLink]="['/log-in']"
></button>

<ng-template #currentUserSection>
    <p-overlayPanel #op [showCloseIcon]="true">
        <ng-template pTemplate>
            <div class="flex flex-col gap-4">
                <p class="overlay-panel__item">
                    Hello, {{ currentUser.username }}
                </p>

                <p class="overlay-panel__item cursor-pointer" [routerLink]="['/user-dashboard']">
                    Dashboard
                </p>

                <p class="overlay-panel__item cursor-pointer" (click)="logOut()">Log out</p>
            </div>
        </ng-template>
    </p-overlayPanel>
    <button pButton pRipple (click)="op.toggle($event)">
        Logged as: {{ currentUser.username }}
    </button>
</ng-template>